body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    background-image: url("fuels.jpg");
    /* background-size: cover; */
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 700px;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px rgba(76, 170, 210, 0.979);
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #218838;
}
